<div class="page">
  <header>
    <img class="logo" src="./assets/img/logo2.png" alt="error">
    <nav>
      <a class="mat-flat-button mat-warn" routerLink="/menu">przerwij egzamin<</a>
    </nav>
  </header>

  <main>
    <div class="full_panel">

      <div class="row">
        <div *ngFor="let question of dataSource.data" class="row">
          <a (click)="displayAnswer(question.id)">{{ question.question }}</a>
        </div>

      </div>
      <div class="mat-elevation-z8">


        <label>
          Ocena prezentacji
          <input
            required
            [min]="2"
            [max]="5"
            [step]="0.05"
            type="number"
            [(ngModel)]="diplomaGrade"
            (input)="updateDiplomaGrade($event)"
          />
        </label>


        <label>
          Ocena pracy
          <input
            required
            [min]="2"
            [max]="5"
            [step]="0.05"
            type="number"
            [(ngModel)]="thesisGrade"
            class="form-control"
            (input)="updateThesisGrade($event)"
          />
        </label>


        <button
          mat-button
          [disabled]="
      !diplomaGrade ||
      diplomaGrade < 2 ||
      diplomaGrade > 5 ||
      !thesisGrade ||
      thesisGrade < 2 ||
      thesisGrade > 5
    "
          routerLink="/userSummary/{{ student.albumNum }}"
        >
          Akceptuj
        </button>
      </div>
    </div>
  </main>
</div>
