<nav>
  <a routerLink="/menu">przerwij egzamin</a>
</nav>

<p>answer: {{ answer }}</p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>question</th>
      <td mat-cell *matCellDef="let row">{{ row.question }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="answer">
      <th mat-header-cell *matHeaderCellDef>answer</th>
      <td mat-cell *matCellDef="let row">{{ row.answer }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="displayAnswer">
      <th mat-header-cell *matHeaderCellDef>displayAnswer</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="displayAnswer(row.id)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <input
    required
    [min]="2"
    [max]="5"
    type="number"
    [(ngModel)]="diplomaGrade"
    class="form-control"
    (input)="updateDiplomaGrade($event)"
  />DiplomaGrade
  <input
    required
    [min]="2"
    [max]="5"
    type="number"
    [(ngModel)]="thesisGrade"
    class="form-control"
    (input)="updateThesisGrade($event)"
  />ThesisGrade
  <button
    mat-button
    [disabled]="
      !diplomaGrade ||
      diplomaGrade < 2 ||
      diplomaGrade > 5 ||
      !thesisGrade ||
      thesisGrade < 2 ||
      thesisGrade > 5
    "
    routerLink="/userSummary/{{ student.albumNum }}"
  >
    Akceptuj
  </button>
</div>
