.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.left_menu{
  width: 67%;
  background: #E5E5E5;
}

table{
  width: 100%;
}

//RIGHT MENU

.right_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33vw;
  background: white;
}

.right_menu > nav{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_menu_button, button{
  background: #F0F0F0;
  border: 1px solid #C0C0C0;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 25%);
  border-radius: 3px;
  margin: 0.5em 0;
  height: 10%;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2em;
  color: #2A2F33;
  cursor:pointer;
}

.right_menu > nav > a:hover, .right_menu > nav > input:hover, button:hover{
  background: gray;
}

.right_menu > nav > a:active, .right_menu > nav > input:active, button:active{
  background: lightgray;
}

.right_menu > nav > input{
  background: #F0F0F0;
  border: 1px solid #C0C0C0;
  display: inline-block;
  padding: 3% 8% 3% 12%;
  cursor: pointer;
  color: #2a2f33;
  box-shadow: 0 3px 6px #00000040;
  border-radius: 3px;
}

.logo{
  height: 40%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img{
  width: 100%;
}

.last_item{
  margin-top: 10em;
}

button{
  font-size: 1em;
}

.cleardb{
  color: red;
}
