<div class="body">
  <div class="top-menu">
    <div class="logo">
      <img src="./assets/img/logo2.png" alt="error">
    </div>
  </div>

  <div class="user-panel">
    <div class="user-num-div">
      <div class="user-image">
        <p>nr albumu: {{ progressRecord.student.albumNum }}</p>
      </div>

      <div class="user-rating">
        <p>Ocena z pracy: {{ thesisGrade | number: "1.2-2" }}</p>
        <p>Ocena z egzaminu: {{ diplomaGrade | number: "1.2-2" }}</p>
        <p>Końcowa ocena: {{ finalGrade | number: "1.2-2" }}</p>
      </div>
    </div>

    <div class="right-div">
      <div class="user-name">
        <p>imie: {{ progressRecord.student.name }}</p>
      </div>

      <div class="right-div-down">
        <div class="right_div-one_left">
          <div><p>data uro: {{ progressRecord.student.birthDate }}</p></div>
          <div><p>kierunek: {{ progressRecord.student.course }}</p></div>
          <div><p>Temat pracy: {{ progressRecord.thesis.subject }}</p></div>
        </div>

        <div class="right-div-two_right">
          <div><p>specjalność: {{ progressRecord.student.specialty }}</p></div>
          <div><p>rok: {{ progressRecord.academicYear }}</p></div>
          <div>
            <button mat-button routerLink="/userList" (click)="addStudentToExaminated(progressRecord.student.albumNum)">
              Zakończ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
